# Virtual Environments
env/
venv/
.venv/
ENV/

# Python Cache & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.so

# Database files (Local)
*.db
*.sqlite3
*.sqlite

# Environment & Secrets
.env
.env.local
.env.*.local

# Node & Build artifacts
node_modules/
dist/
build/

# IDE & OS Files
.idea/
.vscode/
.DS_Store
*.log